/.last-package-update-day
/auto-save-list/
/*~
/eln-cache/
/elpa/
*.elc
/package-quickstart.el
/tramp
/places
/transient/
/early-init.el
/.org-id-locations
/tree-sitter/
/twem2-config-modules/
/url/
/tutorial/
/projects
/diary
/elfeed.org
/elfeed/
/elisp-autofmt-cache/
/email.el
/eshell/
/etc/
/fontaine-latest-state.eld
/init.el
/ltximg/
/mastodon.plstore
/network-security.data
/persist/
/desktops/
